.settings/
.classpath
.project
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class
data/filePath.txt
/.metadata/
/bin/
/build/

#ant specific
dist/
build/

#netbeans specific
core
nbproject/*

#java specific
*.class

#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock
build.xml
manifest.mf